default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:

development:
  <<: *default
  database: pj-voucher_development
  
test:
  <<: *default
  database: pj-voucher_test
  host: localhost

production:
  <<: *default
  database: pj_voucher_production
  username: pj_voucher
  password: <%= ENV['PJ_VOUCHER_DATABASE_PASSWORD'] %>
